body{
    font-size: 12px;
    padding: 20px 0;

    section{
        max-width: 800px;
        margin: 0 auto;
    }


    @media(max-width: 768px){

    }

    @media(max-width: 568px){
        
    }
}


